.jumbotron{
    background-color: rgb(105, 105, 233);
}
.lowerBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px black;
    border: thin;
    background-color: #707070;
    border-radius: 20px;
    padding: 20px;
}
.JokeBox1, .JokeBox{
    width: 40%;
    height: fit-content;
    padding: 15px;
    margin: 10px;
    /* border-radius: 10px; */
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.JokeBox{
    background-color:#000;
    color: white;
}
.JokeBox1{
    background-color: white;
    color: #000;
}
.JOkeContent{
    font-size : 20px
}

@media  (max-width : 900px){
    .JOkeContent{
        font-size : 1px
    }
    .lowerBox{
        flex-direction: column;
    }
    .JokeBox{
        width: 80%;
    }
    .JokeBox1{
        width: 80%;
    }
}
