.jumbotron{
    background-color: rgb(105, 105, 233);
}
.lowerBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.JokeBox{
    width: 40%;
    height: 500px;
    margin: 10px;
    background-color: #ea86b6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}